In [19]:
import pyspark
from pyspark.sql import SparkSession

In [20]:
spark = SparkSession.builder.appName('practice').getOrCreate()

In [21]:
df_spark = spark.read.csv('/home/anhtupham99/NBA-analytics/data/json_to_csv/nba_players_seasonal_stats.csv', header=True, inferSchema=True)

In [22]:
df_spark.printSchema()

root
 |-- team: string (nullable = true)
 |-- ftm: double (nullable = true)
 |-- fta: double (nullable = true)
 |-- stl: double (nullable = true)
 |-- dreb: double (nullable = true)
 |-- td3: double (nullable = true)
 |-- ft_pct: double (nullable = true)
 |-- losses: integer (nullable = true)
 |-- blk: double (nullable = true)
 |-- min: double (nullable = true)
 |-- tov: double (nullable = true)
 |-- pts: double (nullable = true)
 |-- reb: double (nullable = true)
 |-- age: integer (nullable = true)
 |-- fgm: double (nullable = true)
 |-- fg_pct: double (nullable = true)
 |-- oreb: double (nullable = true)
 |-- ast: double (nullable = true)
 |-- dd2: double (nullable = true)
 |-- gp: integer (nullable = true)
 |-- wins: integer (nullable = true)
 |-- pf: double (nullable = true)
 |-- three_pa: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- fga: double (nullable = true)
 |-- player: string (nullable = true)
 |-- three_ppct: double (nullable = true)
 |-- plus_minus_box: double (nullable = true)
 |-- fp: double (nullable = true)
 |-- three_pm: double (nullable = true)

In [23]:
df_spark.select(['player', 'pts']).show(5)

+----------------+----+
|          player| pts|
+----------------+----+
|  Michael Jordan|29.6|
|     Karl Malone|27.4|
|       Glen Rice|26.8|
|Shaquille O'Neal|26.2|
|  Mitch Richmond|25.9|
+----------------+----+
only showing top 5 rows

In [24]:
df_spark.describe().show()

+-------+-----+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+--------------+------------------+-------------------+------------------+------------------+
|summary| team|               ftm|               fta|                stl|              dreb|               td3|            ft_pct|            losses|               blk|              min|               tov|              pts|               reb|              age|               fgm|            fg_pct|              oreb|               ast|              dd2|                gp|              wins|                pf|          three_pa|              year|              fga|        player|        three_ppct|     plus_minus_box|                fp|          three_pm|
+-------+-----+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+--------------+------------------+-------------------+------------------+------------------+
|  count|13418|             13418|             13418|              13418|             13418|             13418|             13418|             13418|             13418|            13418|             13418|            13418|             13418|            13418|             13418|             13418|             13418|             13418|            13418|             13418|             13418|             13418|             13418|             13418|            13418|         13418|             13418|              13418|             13418|             13418|
|   mean| NULL|1.4618348487106791|1.9467059174243584| 0.6390743777015979|2.6086152928901476|0.1281114920256372| 69.97916231927303| 25.46609032642719|0.4085780295125946|20.15132657624086| 1.160314502906534| 8.22053957370696|3.5501117901326746|27.00789983604114|3.0652407214189923|43.627984796541895|0.9432627813384978| 1.832009241317632|4.248174094499926|50.935534356834104|25.469444030406915|1.8113578774779946|1.8036890743776954|2010.1786406319868|6.826717841705181|          NULL| 24.88785213891763|-0.3480250409897152| 17.20105082724708| 0.630809360560444|
| stddev| NULL|1.3989520462148115|1.7600863918699576|0.43940775590983744|1.7984831267319656|1.0831419197710659|20.200001021654277|14.641402066590354|0.4654847558158369|9.987211773077304|0.7992896466495064|6.051707576313814|2.4759106956831167|4.338865702005383| 2.204298825905997| 10.19582505019176|0.8153953885499692|1.8042099209860307| 9.14880576688692| 25.12751298010119|15.934463613785303|0.8151482388032226|1.9185592504758635| 8.171545268561985|4.654027561833197|          NULL|17.409932621545604| 2.9655168652821415|10.978905815189883|0.7303033809817728|
|    min|  ATL|               0.0|               0.0|                0.0|               0.0|               0.0|               0.0|                 0|               0.0|              0.1|               0.0|              0.0|               0.0|               18|               0.0|               0.0|               0.0|               0.0|              0.0|                 1|                 0|               0.0|               0.0|              1996|              0.0|    A.C. Green|               0.0|              -30.7|              -2.3|               0.0|
|    max|  WAS|              10.2|              13.1|                3.0|              11.5|              42.0|             100.0|                71|               3.9|             43.7|               5.7|             36.1|              16.3|               44|              12.2|             100.0|               6.8|              11.7|             77.0|                85|                73|               6.0|              13.2|              2023|             27.8|Zylan Cheatham|             100.0|               28.0|              61.5|               5.3|
+-------+-----+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+--------------+------------------+-------------------+------------------+------------------+

In [25]:
df_spark.withColumn('gp_example', df_spark['gp'] + 1)

DataFrame[team: string, ftm: double, fta: double, stl: double, dreb: double, td3: double, ft_pct: double, losses: int, blk: double, min: double, tov: double, pts: double, reb: double, age: int, fgm: double, fg_pct: double, oreb: double, ast: double, dd2: double, gp: int, wins: int, pf: double, three_pa: double, year: int, fga: double, player: string, three_ppct: double, plus_minus_box: double, fp: double, three_pm: double, gp_example: int]

In [26]:
df_spark.drop('gp_example').show(2)

+----+---+---+---+----+---+------+------+---+----+---+----+---+---+----+------+----+---+----+---+----+---+--------+----+----+--------------+----------+--------------+----+--------+
|team|ftm|fta|stl|dreb|td3|ft_pct|losses|blk| min|tov| pts|reb|age| fgm|fg_pct|oreb|ast| dd2| gp|wins| pf|three_pa|year| fga|        player|three_ppct|plus_minus_box|  fp|three_pm|
+----+---+---+---+----+---+------+------+---+----+---+----+---+---+----+------+----+---+----+---+----+---+--------+----+----+--------------+----------+--------------+----+--------+
| CHI|5.9|7.0|1.7| 4.5|1.0|  83.3|    13|0.5|37.9|2.0|29.6|5.9| 34|11.2|  48.6| 1.4|4.3| 9.0| 82|  69|1.9|     3.6|1996|23.1|Michael Jordan|      37.4|          10.0|47.8|     1.4|
| UTA|6.4|8.4|1.4| 7.5|1.0|  75.5|    18|0.6|36.6|2.8|27.4|9.9| 33|10.5|  55.0| 2.4|4.5|43.0| 82|  64|2.6|     0.2|1996|19.2|   Karl Malone|       0.0|           9.4|49.0|     0.0|
+----+---+---+---+----+---+------+------+---+----+---+----+---+---+----+------+----+---+----+---+----+---+--------+----+----+--------------+----------+--------------+----+--------+
only showing top 2 rows

In [ ]:
df_spark.withColumnRenamed('player', 'player_name')

DataFrame[team: string, ftm: double, fta: double, stl: double, dreb: double, td3: double, ft_pct: double, losses: int, blk: double, min: double, tov: double, pts: double, reb: double, age: int, fgm: double, fg_pct: double, oreb: double, ast: double, dd2: double, gp: int, wins: int, pf: double, three_pa: double, year: int, fga: double, player: string, three_ppct: double, plus_minus_box: double, fp: double, three_pm: double]

In [ ]:
df_spark.na.drop(how='all', thresh=2) # Thresh = at least # of non-null values

DataFrame[team: string, ftm: double, fta: double, stl: double, dreb: double, td3: double, ft_pct: double, losses: int, blk: double, min: double, tov: double, pts: double, reb: double, age: int, fgm: double, fg_pct: double, oreb: double, ast: double, dd2: double, gp: int, wins: int, pf: double, three_pa: double, year: int, fga: double, player: string, three_ppct: double, plus_minus_box: double, fp: double, three_pm: double]